div.right {
position: absolute;
left: 50%;
padding: 5px;
margin: 1px;
top: 7%;

}

button, input{

    background-color: #AA8C39;
    border-radius: 20;
    background-position: 20;
    padding: 5;
}
div.interactions{
    visibility: hidden;
  }
select {
    background-color:  #806415;
   padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
 
}
textarea {
    font-family: Consolas;
    font-size: 10;
    background-color: #FFD9AA;
    text-emphasis-color: #551600;
}


.body{
    font-size: 10pt;
    font-family: "Courier New";
    background-color: rgb(170, 120, 57);
}
div.location {
    width: 400px;
    height: 300px;
  }

div.minimap {
    position: absolute;
    left: 0%;
    padding: 5px;
    margin: 1px;
    top: 60%;
    }

    div.results {
        position: absolute;
        left: 0%;
        width: 300px;
        height: 150px;
        padding: 5px;
        margin: 1px;
        top: 110%;   
    }